<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电脑硬件</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- 导航栏 -->
    <nav>
        <div class="logo">
            <!-- <a href="/index/"> -->
                <h4>Elysia</h4>
            </a>
        </div>
        <ul>
            <li><a href="/index/">首页</a></li>
            <li><a href="/see/">数据大屏</a></li>
            <li><a href="/about/">关于</a></li>
            <li><a href="/contact/">联系</a></li>
        </ul>
        <form id="content" onsubmit="return checkSearch(event)">
            <input type="text" name="input" class="input" id="search-input">
            <button type="reset" class="search" id="search-btn"></button>
        </form>
    </nav>

    {% block content %}
    {% endblock %}
    <script src="/static/js/script.js"></script>
</body>

</html>